<div id="tableDataBox">

        <script type="text/javascript">
          var lastsel;
          
          jQuery(document).ready(function(){
          var mygrid = jQuery("#weather").jqGrid({
              url:'/field_daily_weather?q=1',
              editurl:'/field_daily_weather/post_data',
              datatype: "json",
              colNames:['Date','rET','Rain','Irrig','% Mois','% Cov','LAI','Adj. ET','AD','Deep Dr','ID'],
              colModel:[{name:'date', index:'date',width:80},
                             {name:'ref_et', index:'ref_et',width:47,editable:true, align:'right'},
                             {name:'rain', index:'rain',width:47,editable:true, align:'right'},
                             {name:'irrigation', index:'irrigation',width:47,editable:true, align:'right'},
                             {name:'pct_moisture', index:'pct_moisture',width:47,editable:true, align:'right'},
                             {name:'entered_pct_cover', index:'entered_pct_cover',width:47,editable:true, align:'right'},
                             {name:'leaf_area_index', index:'leaf_area_index',width:47,editable:true, align:'right'},
                             {name:'adj_et', index:'adj_et',width:47, align:'right'},
                             {name:'ad', index:'ad',width:47, align:'right'},
                             {name:'deep_drainage', index:'deep_drainage',width:47, align:'right'},
                             {name:'id', index:'id',width:1}
                             ],
              pager: '#weather_pager',
              // rowNum:7,
              rowList:[7,245],
              imgpath: '/images/jqgrid',
              sortname: '',
              viewrecords: true,
              height: 150,
              sortorder: '',
              gridview: false,
              scrollrows: true,
              autowidth: false,
              rownumbers: false,
              multiselect: false,
              onSelectRow: function(id){ 
                if(id && id!==lastsel){ 
                  jQuery('#weather').restoreRow(lastsel);
                  jQuery('#weather').editRow(id,true); 
                  lastsel=id; 
                } 
              },             
              
              
              subGrid:false,
              
              caption: "Edit Observed Values Below"
            })
            .navGrid('#weather_pager',
              {edit:false,add:false,del:false,search:false,refresh:true},
              {afterSubmit:function(r,data){return true;(r,data,'edit');}}
            )
            .navButtonAdd("#weather_pager",{caption:"",title:"Toggle Search Toolbar", buttonicon :'ui-icon-search', onClickButton:function(){ mygrid[0].toggleToolbar() } })
            
            
            mygrid.filterToolbar();mygrid[0].toggleToolbar()
          });
        </script>

        <table id="weather" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="weather_pager" class="scroll" style="text-align:center;"></div>
      
</div>