<div id="stationDataGrid">
        <script type="text/javascript">
          var lastsel;
          jQuery(document).ready(function(){
          var mygrid = jQuery("#weather_station_data").jqGrid({
              url:'<%= url_for :controller => "weather_station_data", :weather_station_id => @weather_station, :year => @year, :user_id => @user, :q => 1 %>',
              editurl:'<%= url_for :controller => "weather_station_data", :action  => :post_data, :weather_station_id => @weather_station, :user_id => @user, :year => @year %>',
              datatype: "json",
              colNames:['Date','Rain','Irrigation','Soil Moisture','Reference ET','Notes','ID'],
              colModel:[{name:'date', index:'date',width:35},
                             {name:'rain', index:'rain',width:25,editable:true, align:'right'},
                             {name:'irrigation', index:'irrigation',width:25,editable:true, align:'right'},
                             {name:'soil_moisture', index:'soil_moisture',width:25,editable:true, align:'right'},
                             {name:'ref_et', index:'ref_et',width:25,editable:true, align:'right'},
                             {name:'notes', index:'notes',width:150,editable:true, align:'right'},
                             {name:'id', index:'id',hidden:true,width:1}
                             ],
              pager: '#weather_station_data_pager',
              rowNum:153,
              rowList:[153],
              imgpath: '<%= image_folder_path("jqgrid") %>',
              sortname: '',
              viewrecords: true,
              height: 310,
              width: 920,
              sortorder: '',
              gridview: false,
              scrollrows: true,
              autowidth: false,
              rownumbers: false,
              multiselect: false,
              
              onSelectRow: function(id){ 
                if(id && id!==lastsel){ 
                  jQuery('#weather_station_data').restoreRow(lastsel);
                  jQuery('#weather_station_data').editRow(id,true); 
                  lastsel=id; 
                } 
              },             
              
              
              subGrid:false,
              
              caption: "Weather Station Data"
            })
            mygrid.filterToolbar();mygrid[0].toggleToolbar()
          });
        </script>

        <table id="weather_station_data" class="scroll" cellpadding="0" cellspacing="0"></table>
      
</div>