<%= form_for(@weather_station_data) do |f| %>
  <% if @weather_station_data.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_station_data.errors.count, "error") %> prohibited this weather_station_data from being saved:</h2>

      <ul>
      <% @weather_station_data.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
