<% @title = "Pivots/Fields" %>
<h2>Manage Pivots, Fields, and Crops</h2>

<p>View and manage your WISP setup here. Click on a cell in any of the tables below to edit the content for that row (such as renaming or entering values). Once you have made your changes you must press "Enter" to save the changes. The row will turn yellow indicating changes have been saved. To edit the crop for that field you must select the field in the Field table.</p>

<div class="field inline-flex">
  <%= form_tag(url_for(:controller => "wisp", :action => :pivot_crop, :pivot_id => "", :field_id => ""), :method => 'GET') do %>
    <input type="hidden" name="pivot_id" value=""></input>
    <input type="hidden" name="field_id" value=""></input>
    <label for="farm_id">Farm</label><br>
    <%= select_tag "farm_id", options_from_group_for_select(@group, @farm),{ :onchange => "this.form.submit();"} %>
  <% end %>
</div>

<div class="content-box">
  <div id="pivotDataBox">
    <%= render "/wisp/partials/pivot_setup_grid" %>
  </div>
  <div id="fieldDataBox">
    <div id="fieldDataGrid">Loading fields...</div>
  </div>
  <div id="cropsDataBox">
    <div id="cropDataGrid">Loading crops...</div>
  </div>
</div>
