<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler 2012
<% end %>

<h2>WISP Software Status</h2>
<p>
  The WISP backend software has been updated (April 2021) but no new features or development is planned. The software is presented as-is and is believed to work but no ongoing support is planned.
</p>
<br>
<h3>News</h3>
<p>
  <ul>
    <li>February 2016: Upgraded to Rails 4.2.</li>
    <li>April 2021: Upgraded to Rails 6.1.</li>
  </ul>
</p>
<br>
<h3>Known Bugs</h3>
<p>
  None
</p>
