<% content_for :title, "WISP: Project Status" %>

<h2>WISP Software Status</h2>

<p>No major new features are planned but if any critical bugs or problems are encountered please <%= mail_to "agweather@cals.wisc.edu", "contact us" %>.</p>

<br>

<h3>News</h3>

<p>
  <ul>
    <li>February 2016: Upgraded to Rails 4.2.</li>
    <li>April 2021: Upgraded to Ruby 2.7 and Rails 6.1.</li>
    <li>Nov 2021: Added automatic precipitation data retrieval.</li>
  </ul>
</p>

<br>

<h3>Known Issues</h3>

<p>
  <ul>
    <li>Ability to generate detailed reports (besides csv download) was never implemented.</li>
    <li>Ability to link weather stations (page 'Field Groups') was never implemented.</li>
  </ul>
</p>
