<% content_for :title, "WISP: Project Status" %>

<h2>WISP Software Status</h2>
<p>
  The WISP backend software has been updated (May 2021) but no new features or development are planned. The software is presented as-is and is believed to work. If any bugs are found, please contact the developer, though limited ongoing support is planned.
</p>
<br>
<h3>News</h3>
<p>
  <ul>
    <li>February 2016: Upgraded to Rails 4.2.</li>
    <li>April 2021: Upgraded to Ruby 2.7 and Rails 6.1.</li>
  </ul>
</p>
<br>
<h3>Known Issues</h3>
<ul>
  <li>Ability to generate detailed reports (besides csv download) was never implemented.</li>
  <li>Ability to link weather stations (page 'Field Groups') was never implemented. ETs should download from AgWeather bug rainfall has to be entered manually.</li>
</ul>
