<% content_for :stylesheet do %>
  <style type="text/css">
    h2 {text-align:center;}
  </style>
<% end %>

<% content_for :title do %>
  WISP: Report Setup
<% end %>

<h2>WISP Report Setup</h2>
<br />
<br />
<b>Select Report</b>
<select name="user[role_id]">
  <option value="1" selected="selected">Irrigation Summary</option>
  <option value="2">Energy and Water Use Summary</option>
  <option value="3">Some Other Report</option>
</select>
<b>Notes:</b> <input id="notes" name="notes" type="text" />
<br />
<br />
<b>Report Format</b><br />
<input type="radio" id="html" name="user[receive_newsletter]" value="html"  checked="checked" /> Web Page (.html)<br />
<input type="radio" id="lai" name="user[receive_newsletter]" value="lai"/> Spreadsheet (.csv)
<br />
<br />
<%= submit_tag "Create Report", :type => "button", :onclick => "alert('Sorry! This page is still a work in progress.')" %>
