<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Created</th>
      <th>Last Signed In</th>
    </tr>
  </thead>
  <tbody>
    <% User.order(:email).each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.last_sign_in_at.try(:to_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
