<% if flash[:notice] || flash[:error] || flash[:alert] %>
  <script>
    $(() => {
      // fadeout the notice
      setTimeout(() => {
        $('#notice').fadeOut(1000, () => {
          $(this).remove();
        })
      }, 5000)
    })
  </script>
  <% flash.each do |type, msg| %>
    <div id="notice">
      <div class="notice-box <%= type %>">
        <%= msg %>
        <div id="notice-close" onclick="$('#notice').remove();">❌</div>
      </div>
    </div>
  <% end %>
<% end %>
