<% content_for :welcome do %>
  <%= image_tag "pic_1.jpg", {:width => "231", :height=>"301", :alt=>"Soil Science/King Hall"}  %>
  <h2>About Our Group</h2>
  <p>Faculty and staff at the Biological Systems Engineering and UW Soil Science department in Madison developed and maintain these pages.</p>
  <br>
  <p>The initial funding for the project was provided by a grant from the Wisconsin Potato and Vegetable Growers Association.</p>
  <br>
  <p>
  <b>More information:</b><br>
    <a href="https://agweather.cals.wisc.edu" class="bar-drk">UW Extension Ag Weather</a><br>
    <a href="https://soils.wisc.edu/" class="bar-drk">Dept. of Soil Science</a><br>
    <a href="https://extension.soils.wisc.edu" class="bar-drk">Soil Science Extension</a><br>
  </p>
<% end %>

<!-- content for remainder of page -->

<div class="content-box">
  <h2>About Us / Contact</h2>
  <br>
  <p>
    Dr. John Panuska, of the Biological Systems Engineering Department in the UW-Madison College of Agriculture and Life Sciences, is the primary scientific force behind this application. Dr. Panuska, together with Dr. John Norman of the Soil Science Department, developed the models behind it.
  </p>
  <br>
  <h3>Project Coordinator:</h2>
  <p>
    John Panuska<br>
    Department of Biological Systems Engineering<br>
    Email: <a href="mailto:jcpanuska@wisc.edu">jcpanuska@wisc.edu</a><br> 
    Phone: 608-262-0605
  </p>
  <br>
  <h3>Current webmaster/developer:</h3>
  <p>
    Ben Bradford<br>
    Department of Entomology<br>
    Email: <a href="mailto:bbradford@wisc.edu">bbradford@wisc.edu</a>
  </p>
  <br>
  <br>
  <%= render :template => 'wisp/project_status' %>
  <div class="clear"></div>
</div>
