<% content_for :title do %>
  UW Soil Science Weather/Modeling: About Us
<% end %>

<% content_for :welcome do %>
  <%= image_tag "pic_1.jpg", {:width => "231", :height=>"301", :alt=>"Soil Science/King Hall"}  %>
  <h2>About Our Group</h2>
  <p>Faculty and staff at the Biological Systems Engineering and UW Soil Science department in Madison developed and maintain these pages.</p>
  <p>The initial funding for the project was provided by a grant from the Wisconsin Potato and Vegetable Growers Association.</p>
  <br/>
  <p>
    <%= link_to 'UW Extension Ag Weather', 'http://agwx.soils.wisc.edu/uwex_agwx' %>
    <a href="http://www.soils.wisc.edu/extension" class="bar-drk">Soil Science Extension Website</a>
    <br/><a href="http://www.soils.wisc.edu/" class="bar-drk">Soil Science Website</a></p>
<% end %>

<!-- content for remainder of page -->

<div class="content-box">
<h2>About Us / Contact</h2>
<div class="clear"></div>
<div class="clear"></div>
  <h2>Dr. John C. Panuska</h2>
  <p>Dr. Panuska, of the Biological Systems Engineering Department in the UW-Madison College of Agriculture and Life Sciences,
    is the primary scientific force behind this application; together with Dr. John Norman of the
    Soil Science Department, he developed the models behind it.</p>
<div class="fineline"></div>
    <h2>Senior Systems Programmer <a href="http://www.soils.wisc.edu/soils/people/staff/wayne.php">Rick Wayne</a></h2>
    <p>Rick is responsible for the day-to-day functioning of the site and its data feeds. Together with Senior Programmer Analyst
      Paul Kaarakka, he created the software for this website.</p>

<div class="clear"></div>
</div>
