<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler 2012
<% end %>

<!-- Content for the remainder (body) of the page goes here -->
<h2>WISP Home</h2>
<%= image_tag "pivot.jpg", :width => 200, :style => "float:left; margin-right:30px; margin-bottom:30px; margin-top:10px"  %>

<div class="wisp_description" id="wisp_description">
  <h3>About WISP</h3>
  <p>The Wisconsin Irrigation Scheduling Program (WISP), is an irrigation water management tool developed by the Departments of Soil Science and Biological Systems Engineering at the Wisconsin-Madison. WISP is designed to help growers optimize crop water use efficiency by tracking the root zone water inputs and outputs (water balance).
  </p>

  <p>Using WISP's water balance predictions, along with root zone soil moisture monitoring, a grower can plan irrigation timing and amount to take maximum advantage of natural rainfall while minimizing over-application of water resulting in leaching.</p>

  <h3>Organization</h3>
  <p>WISP accommodates multiple Farms, Pivots, Fields and Crops with a hierarchy:</p>
  <ul>
    <li>-- A <strong>farm</strong> can be any set of pivots the user chooses (e.g. common ownership, location or management).</li>
    <li>-- A <strong>pivot</strong> can have one or more fields growing different crops.</li>
    <li>-- A <strong>field</strong> is typically defined by a set of common physical or management characteristics (e.g., crop type, soil water holding capacity or irrigation management) assigned to a land area. Field characteristics can change from year to year.</li>
    <li>-- For each <strong>crop</strong> on a field, you must specify an emergence date and depth of the managed root zone. WISP’s default initial soil moisture content is field capacity which can be replaced by entering a measured value.</li>
  </ul>
  <p>To simplify entering daily data that are the same for multiple fields, <strong>field groups</strong> are provided. Fields can be associated with a field group; daily data entered for the field group (e.g., rainfall or irrigation) are automatically copied to all associated fields. The groupings can be changed at any time.</p>

  <h3>Getting Started</h3>

  <p>
    Secure access to your WISP data is provided using a service called OpenID
    (OID). When you start WISP you are directed to a login page where you enter
    your email address and password. <b>A Gmail account is no longer required,
    you can use any valid email you can access.</b> If this is your first
    time using WISP, select Sign Up to create your user account. That's all
    there is to it!
  </p>

  <ol>
    <li>-- Begin by selecting the Farm Status link in the navigation bar on the left side of the screen. You will be asked to enter your login credentials.</li>
    <li>-- Upon successful login, you will see the WISP Farm Status screen.</li>
    <li>-- When you first use WISP, a default farm, pivot, field, and crop are created for you, along with weather/irrigation records for the season. You can edit the default values and/or add to them.</li>
  </ol>
  You can add more farms using the “Add Farms” button on the "Farm Status" page. Pivots, the fields they serve, and crop in the field are managed from the "Pivots, Fields, and Crops" page.
  <ol>
    <li>-- Click on the "Pivots" link in the navigation bar, and use the "Add Pivots" button to add pivots for the farm.</li>
    <li>-- All field information is required except "Notes".</li>
    <li>-- If you have multiple fields under a pivot for which you would like to combine data entry, create a field group and use "Multi-Edit Daily Data" feature.</li>
  </ol>

  <p>The <%= link_to 'User Guide',  'userguide' %> provides additional model input and application guidance.</p>

  <h3>About WISP</h3>
  <ul>
    <li>Version: 2.0.0</li>
    <li>Rev. 2016</li>
  </ul>
</div>
