<script type="text/javascript">
  var lastsel;
  jQuery(document).ready(function(){
  var mygrid = jQuery("#crop_setup").jqGrid({
      url:'<%= url_for :controller => "crops", :q => 1 %>',
      editurl: '<%= url_for :controller => "crops", :action  => :post_data, :parent_id => @field_id %>',
      datatype: "json",
      colNames:['Crop','Variety','Emergence Date','Init Soil Moist. (%)','Harvest/Kill Date','Mgd. RZ (in)','AD Frac.','Notes',' ',' '],
      colModel:[ {name:'name', index:'name',width:83,editable:true},
                 {name:'variety', index:'variety',width:47,editable:true, align:'right'},
                 {name:'emergence_date', index:'emergence_date',width:47,editable:true, align:'right'},
                 {name:'initial_soil_moisture', index:'initial_soil_moisture',width:52,editable:true, align:'right'},
                 {name:'harvest_or_kill_date', index:'harvest_or_kill_date',width:47,editable:true, align:'right'},
                 {name:'max_root_zone_depth', index:'max_root_zone_depth',width:35,editable:true, align:'right'},
                 {name:'max_allowable_depletion_frac', index:'max_allowable_depletion_frac',width:25,editable:true, align:'right'},
                 {name:'notes', index:'notes',width:47,editable:true, align:'right'},
                 {name:'id', index:'id',width:1},
                 {name:'field_id',index:'field_id',width:1,hidden:true,editable:true}
                ],
      pager: '#crop_setup_pager',
      rowNum:180,
      rowList:[180],
      imgpath: '<%= image_folder_path("jqgrid") %>',
      sortname: '',
      viewrecords: true,
      height: 110,
      width: 918,
      sortorder: '',
      gridview: false,
      scrollrows: true,
      autowidth: false,
      rownumbers: false,
      multiselect: false,
      
      onSelectRow: function(id){
        if(id){
          if (id!==lastsel){
            jQuery('#crop_setup').restoreRow(lastsel);
          }
          jQuery('#crop_setup').editRow(id,true); 
          lastsel=id; 
        } 
      },             
      
      
      subGrid:false,
      
      caption: "Crops <%= @field ? " for #{@field.name}" : '(select field above)' %>"
    })
    .navGrid('#crop_setup_pager',
      {edit:false,add:true,del:true,search:false,refresh:true},
      {afterSubmit:function(r,data){return true;(r,data,'edit');}},
      {afterSubmit:function(r,data){return true;(r,data,'add');}},
      {afterSubmit:function(r,data){return true;(r,data,'delete');}}
    )
    .navButtonAdd("#crop_setup_pager",{caption:"",title:"Toggle Search Toolbar", buttonicon :'ui-icon-search', onClickButton:function(){ mygrid[0].toggleToolbar() } })
    
    
    mygrid.filterToolbar();mygrid[0].toggleToolbar()
  });
</script>

<table id="crop_setup" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="crop_setup_pager" class="scroll" style="text-align:center;"></div>
