<% content_for :title do %>
  WISP: Wisconsin Irrigation Scheduler <%= Time.now.year %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<h2>Wisp#pivot_crop</h2>
<p>Find me in app/views/wisp/pivot_crop.html.erb</p>

<p>Having the field data expire with each year allows flexibility for different field setups at each pivot. When a new cropping year is added, 
the field information from the previous year is filled in by default.</p>