<% @title = "Field Groups" %>
<h2>Field Groups</h2>
<p><i>To simplify entering daily data that are the same for multiple fields, field groups are provided. Fields can be associated with a field group; daily data entered for the field group (e.g., rainfall or irrigation) are automatically copied to all associated fields. The groupings can be changed at any time. Group any fields that will share user-input rainfall, irrigation, or soil moisture data on the 'Multi-Edit Daily Data' page.</i></p>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
