Next, select the date range you want:
<P>
<table>
<tr>
<td>Starting year</td>

<td>Month</td>

<td>Day</td>

</tr>

<tr>
  <td>
    <%= date_selectors(:first_year => 1985, :day => 1, :sep_str => '</td><td>',:id => 'date') %>
  </td>
</tr>

<tr>
<td>Ending year</td>

<td>Month</td>

<td>Day</td>

</tr>

<tr>
  <td>
    <%= date_selectors(:first_year => 1985, :names => %w(endyear endmonth endday), :sep_str => '</td><td>') %>
  </td>
</tr>
</table>
