html, body, ul, li, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #544e38;
}
img {
	border: 0px;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: image-url('background.png');
	text-align: center;
	font: 11px verdana, arial, sans-serif;
}
#wrapper {
	text-align: left;
	margin: auto;
	width: 1230px;
	position: relative;
	padding-top: 68px;
}

#main_body {
	display: inline;
	color: white;
	width: 100%;
	background-color: #e5dcb9;
}
h1 {
	position: absolute;
	top: 36px;
	left: 13px;
	font-size:2.1em;
	color:#3f3c2d;
	font-variant: small-caps;
	font-family: Arial, Helvetica, sans-serif;
}
#nav {
	position: absolute;
	top: 43px;
	left: 670px;

}
#nav  a {
	background-image: image-url('menu.gif');
	width:120px;
	height:19px;
	display:inline;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
	padding-top:6px;
	margin-right: 1px;
	text-decoration:none;
	color:#e9e4d0;
	font-weight:bolder;
}
#nav  a:hover {
	color:#544e38;
}

#body-bot {
	padding-top: 12px;
}
#welcome {
	float: left;
	width: 231px;
	height: 633px;
	padding-left: 5px;
	background-color: #5a5644;
	border: 10px solid #8b846a;
	border-right: 5px solid #8b846a;
}
#welcome a {
	color: #F2F7F8;
}
#welcome a:hover {
	color: #CFCCBF;
}
#welcome h2 {
	text-align: center;
	margin: 11px;
	color:#ceb085;
	font-size:24px;
}
#welcome p {
	margin: 0px 19px;
}
#welcome .more {
	margin-top: 18px;
	margin-bottom: 10px;
}

#content {
	float: right;
	width: 919px;
	height: 610px;
	padding-left: 10px;
	padding-right: 34px;
	padding-top: 23px;
	color: #686454;
	overflow:auto;
	border: 10px solid #8b846a;
	border-left: 5px solid #8b846a;
	background-color: #f8f5e7;
}
#content .left {
	margin-right: 10px;
}

#content a {
	color: #5A5644;
}
#content a:hover {
	color: #26241A;
}

#intro {
	margin: 12px;
}

.content-box {
	height: 115px;
	margin-left: 10px;
}
.fineline {
	border-bottom: 1px solid #D3CAA9;
	margin-bottom: 12px;
}

.fineline-flat {
	border-bottom: 1px solid #D3CAA9;
}

.fineborder {
	border: 1px solid #D3CAA9;
	padding: 2px;
	width: 186px;
	margin-bottom: 12px;
}

.bar-lit {
	padding-left: 6px;
	background: 0px 4px url(../images/bar_lit.gif) no-repeat;
}
.bar-drk {
	padding-left: 6px;
	background: 0px 4px url(../images/bar_drk.gif) no-repeat;
}

#picbar {
	background: #A3A189;
	width: 615px;
	margin: 2px 0 19px 0;
}

#arr-left, #arr-right  {
	float: left;
	width: 15px;
}

.picbox {
	float: left;
	width: 175px;
	padding: 2px;
	border: 1px solid #8B846A;
	margin: 5px 0px 5px 4px;
}

#picbar img {
	display: block;
}

#arr-right {
	margin-left: 4px;
}

#planer {
	float: left;
	width: 386px;
	border-right: 1px solid #D3CAA9;
	padding-right: 20px;
	padding-top: 5px;
}
#stories {
	float: right;
	width: 195px;
	padding-top: 5px;
}

#planer p, #stories p {
	margin: 4px 0px;
}

#planer .more, #stories .more {
	margin: 12px 0px;
}

.clear-flat {
	margin-bottom: 4px;
}


#footer {
	font: 11px arial, sans-serif;
	color: #4E4A3A;
	text-align: right;
	padding-right: 47px;
}
#footer p {
	margin-top: 0.5em;
}
#wisp_description ul {
  list-style-type: disc;
}
#wisp_description ol {
  list-style-type: decimal;
}

h2 {text-align:center;}
#stationDataBox
{
  position:absolute;
  left:275px;
  top:120px;
  width:920px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#stationDataGrid
{
}

#stationAffectsBox
{
  position:absolute;
  left:275px;
  top:520px;
  width:920px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

h2 {text-align:center;}
#farmDataBox
{
  position:absolute;
  left:275px;
  top:150px;
  width:920px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#farmProblemsBox
{
  position:absolute;
  left:275px;
  top:400px;
  width:920px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#fieldSelectionBox
{
  text-align: center;
}

#fieldDataBox
{
  position:absolute;
  left:275px;
  top:173px;
  width:246px;
  height:204px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#tableDataBox
{
  position:absolute;
  left:544px;
  top:171px;
  width:691px;
  padding:2px;
  margin:0px;
}

#tableDataBox table tr td.editable
{
  background:white
}

#projectedADBox
{
  position:absolute;
  left:275px;
  top:400px;
  width:246px;
  height:290px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#graphBox
{
  position:absolute;
  left:545px;
  top:400px;
  width:648px;
  height: 290px;
  padding:2px;
  border:1px solid gray;
  margin:0px;
}

#imageADBox
{
  position:absolute;
  left:875px;
  top:375px;
  width:300px;
}

table.center
{
  margin-left:auto;
  margin-right:auto;
}

span.week-button
{
  background:#DDD;
  border:1px solid;
  border-radius:3px
}
